<div class="row">
  <div class="col-xs-10 col-xs-offset-2">
    <img src="images/viking_{{profile.BasicInfo.gender}}.jpg">
    <h1>{{profile.User.username}}</h1>
    <h3>About Me</h3>
    <p>{{profile.aboutMe}}</p>
    <h3>Talents</h3>
    <p>{{profile.talents}}</p>
    <h3>Favorite Things</h3>
    <p>{{profile.favoriteThings}}</p>
    <h3>Why I'm Awesome</h3>
    <p>{{profile.whyImAwesome}}</p>
  </div>
</div>
